<div class="mb-4">
    <h1 class="text-5xl font-bold tracking-wider text-gray-800 dark:text-blue-400 mb-2"><a href="/">FIRM</a></h1>
    <div class="text-small font-normal text-gray-400 dark:text-blue-300">
        Federated Information <span class="block sm:inline">Resource Manager</span>
    </div>
</div>
